/*
  Credit to Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --colour: rgb(212, 38, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font-family: "Press Start 2P", andale mono, monospace;
    background-color: black;
    color:white;
  }

  .form-container {
    position: fixed;
    right: 0px;
    min-height: 100vh;
    min-width: 40vw;
    width: max(500px, 40vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 85%;
    flex: 1 1 0;
  }

  .video {
    min-height: 100vh;
    max-width: 96%;
    object-fit: cover;
  }

  .video-container {
    flex: 0 0 1;
  }

  .input {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  label {
    font-size: 14px;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
  }

  .container {
    display: flex;
  }

  .account {
    font-size: 11px;
  }

  input {
    display: block;
    border-radius: 5px;
    border: 1px solid white;
  }

  form {
    display: flex;
  }
  
  input, button, textarea, select {
    font: inherit;
    border-color: white;
    margin: 10px;
  }

  button {
    margin-bottom: 15px;
    height: 40px;
    width: 120px;
    font-size: 14px;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  span {
    color: var(--colour);
    text-decoration: underline;
  }

  span:hover{
    color: greenyellow;
  }

  .title:hover {
    color: var(--colour);
    margin:2px;
  }

  button:hover {
    color: var(--colour);
    border-color: var(--colour);
  }

  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 2px solid var(--colour);
    outline: none;
  }

  label:has(+input[type=text]:focus), label:has(+input[type=email]:focus),   label:has(+input[type=password]:focus) {
    color: var(--colour);
  }

  input[type=text]:valid, input[type=email]:valid, input[type=password]:valid {
    border: 2px solid greenyellow;
    outline: none;
  }

  label:has(+input[type=text]:valid),   label:has(+input[type=email]:valid),   label:has(+input[type=password]:valid) {
    color: greenyellow;
  }

  h4 {
    color: var(--colour)
  }